* {
  margin: 0px;
  padding: 0;  
  
}
body{
  background: url(ground.png);
}
.btn-general{
  background:#0074acf2;
  border:none;
  border-radius: 10px;
  color:#FFFFFF;
  cursor: pointer;
  font-family: 'Acme', sans-serif;
  margin: 10px 15px ;
  padding: 15px 55px;
}
.btn-general:hover{
  background:#c4f6f3;
  font-family: 'Acme', sans-serif;
  color:#114658;
}
.btn-general:focus{
  outline:none;
}
#btn-go-back{
  margin-left: 1200px;
  margin-bottom: 10px;
}
#diagnostic-medic-patient{
  background: #ffffff57;
  border-radius: 2px;
  border: 1px solid #aacad585;
  color: #FFFFFF;
  height: 450px;
  margin: 20px 300px 10px 350px;
  text-align: center;
  width: 800px; 
}
footer {
  background: #0074acf2;
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-size: 15px;
  height: 30px;
  text-align: center;   
}
header {
  background : #0074acf2;
  color: #FFFFFF;
  font-family:"Titillium Web", sans-serif;
  font-size: 30px;
  height: 100px;
  text-align: center;  
}
h3,h2,label {
  color: #0d1836cf;
  font-family:sans-serif;
  margin: 10px; 
}
h3{
  padding-left: 80px; 
}
.hide{
  display: none;
}
i {
  padding: 60px 45px 20px 45px;
  font-size: 120px; 
}
#login{
  background: #ffffff52;
  border-radius: 2px;
  border: 1px solid #aacad585;
  color: #FFFFFF;
  height: 330px;
  margin: 50px 100px 130px 530px;
  text-align: center;
  width: 450px;
}
.login-medic-patient{
  background: #ffffff52;
  border-radius: 2px;
  border: 1px solid #aacad585;
  color: #FFFFFF;
  height: 300px;
  margin: 90px 100px 80px 570px;
  text-align: center;
  width: 380px;
}
.send-general{
  border-radius: 8px;
  width: 80px;
  height: 20px;
}
.send-general:focus{
  outline:none;
}
main{
  padding: 10px;
  text-align: center; 
}
p {
  height: 40px;
  padding: 5px;
  text-align: center;
}
textarea{
  background: #fafafaf5;
  height: 160px;
  width: 750px;  
  resize: none; 
}


