* {
  margin: 0px;
  padding: 0;  
  
}
body{
  background: url(fondo.png);
}
.btn-general{
  background:#0074acf2;
  border:none;
  border-radius: 10px;
  color:#FFFFFF;
  cursor: pointer;
  font-family: 'Acme', sans-serif;
  margin: 10px 25px ;
  padding: 15px 55px;
}
.btn-general:hover{
  background:#c4f6f3;
  font-family: 'Acme', sans-serif;
  color:#114658;
}
.btn-general:focus{
  outline:none;
}
.diagnostic-medic-pacient{
  background: #ffffff57;
  border-radius: 2px;
  border: 1px solid #aacad585;
  color: #FFFFFF;
  height: 500px;
  margin: 20px 330px 0px 330px;
  text-align: center;
  width: 800px;
  
}
footer {
  background: #0074acf2;
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-size: 15px;
  height: 30px;
  text-align: center;   
}
header {
  background : #0074acf2;
  color: #FFFFFF;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  height: 100px;
  text-align: center;  
}
h3,label {
  font-family: 'Acme', sans-serif;
  margin: 10px;
}
i {
  padding: 60px 50px 20px 50px;
  font-size: 120px; 
}
#login{
  background: #47c995;
  border-radius: 40px;
  border: 2px solid #0A313F;
  color: #FFFFFF;
  height: 350px;
  margin: 120px 400px 120px 470px;
  text-align: center;
  width: 500px;
}
.login-medic-pacient{
  background: #80e6f657;
  
  border-radius: 40px;
  /*border: 2px solid #0A313F;*/
  color: #FFFFFF;
  height: 300px;
  margin: 120px 500px 120px 500px;
  text-align: center;
  width: 380px;
}
.input-general{
  border-radius: 5px;
  width: 80px;
  height: 20px;
}
main{
  /* background:#d2ffff; */
  
  background-repeat: no-repeat;
  padding: 10px;
  text-align: center;
  
}
p {
  height: 40px;
  padding: 5px;
  text-align: center;
}
textarea{
  height: 170px;
  width: 750px;  
  resize: none;
  background: #fafafaf5;
}

